:root {
    --primary-color: hsl(30, 100%, 62%);
    --secondary-color: rgb(24, 24, 105);
    --accent1-color: #FFFFFF;
    --background-color: #37392D;
    --accent3-color: #ccc;
}

body {
    font-family: "Roboto", sans-serif;
}

/* HEADER OF THE PAGE */

header{
    display: block;
    background-color: var(--background-color);
    padding-top: 0.3rem;
}


.title{
    display: flex;
}

.title img{
    background-color: #fff;
    border-radius: 90%;
    border: solid 5px var(--primary-color);
    margin: 1rem;
}

.title p{
    color: var(--accent1-color);
    padding-left: 0;
    margin-top: 0;
}

.text-title{
    display: block;
    text-align: start;
    padding-top: 2rem;
}

#big-title{
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0;
}


/* NAVIGATION OF THE PAGE */
.nav{
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--background-color);
	color: var(--accent1-color);
	max-width: 100%;
	margin: 1rem auto;
    border-top: 1px solid;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;

}

.nav ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
}

.nav.open{
    grid-template-rows: 1fr;
}

.nav a{
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--accent1-color);
	font-size: larger;
}
.nav a:hover, button:hover {
	background-color: var(--primary-color);
	color: var(--background-color);
}

#menu {
	font-size: 1.75rem;
	border: 0;
	background: none;
	color: var(--accent1-color);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

.active::before {
	content: "➤ ";  
}

.open a {
	display: block;
}


/* MAIN PART OF THE PAGE */
main { 
	max-width: 1200px;
	margin: 0 auto;
}

.all{
    max-width: 100%;
}

section {
	text-align: center;
	padding: 0.5rem;
}


/* FOOTER OF THE PAGE */
footer {
    background-color: var(--background-color);
    align-content: center;
}

footer p {
    color: var(--accent1-color);
    padding-top: 5px;
    text-align: start;
    margin: 0;
    padding-left: 2rem;
}

.info-chamber, .footer-info{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icon{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.icon img{
    text-decoration: none;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#bold{
    font-weight: bold;
}

button{
    background-color: var(--background-color);
    width: 5rem;
    border: none;
    padding: 1rem;
    color: var(--accent1-color);
    font-weight: bold;
    font-size: large;
}


/* DIRECTORY PAGE */
h1{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.format li{
    list-style: none;
}

.format ul{
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--accent3-color);
}

.format button{
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    /* border-radius: 100%; */
    background-color: var(--accent1-color);
    border: solid 1px #37392d96;
}

.format button:hover{
    background-color: #ebebeb;
}

.format img{
    text-align: center;
}

.grid section{
    padding: 2rem 1rem 2rem;
    box-shadow: 10px 10px 10px 0 #ccc;
}

.grid p{
    margin: 0;
    font-size: medium;
}

.grid a, .list a, .list p{
    font-size: small;
}

.list {
    padding: 1rem;
}

.list-row{
    border-bottom: #ccc solid 1px;
    padding-bottom: 2rem;
} 

/* INDEX PAGE CONTENT */

.position {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom: var(--background-color) solid 5px;
}

.phrase {
    position: absolute;
    background-color: #706f6fd3;
    width: 100%;
    text-align: center;
    top: 2rem;
    font-size: x-large;
}

.phrase p{
    font-family: var(--title-font);
    color: var(--accent1-color);
    font-style: italic;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

.phrase button{
    width: 150px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-weight: bolder;
    margin-bottom: 1rem;
}

.phrase button:hover{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.all section{
    border-top: solid 1px var(--accent3-color);
    background-color: hsla(30, 3%, 73%, 0.404);
    margin-bottom: 1rem;
}

.all h2{
    background-color: var(--background-color);
    color: var(--accent1-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

#events{
    padding-bottom: 6rem;
}

.no-color section{
    background-color: var(--accent1-color);
}

#weather-icon{
    background-color: rgb(127, 163, 194);
    border-radius: 100%;
    margin-top: 1rem;
}


/* JOIN PAGE CSS */
.join-grid h1{
    border-bottom: solid 1px var(--accent3-color);
}

form {
    margin: 1rem 1rem;
    justify-items: center;}
  
form label {
    display: block;
    font-size: .8rem;
    color: var(--background-color);
    padding-top: .2rem;
}

form h2{
    text-align: center;
}

form h3 {
    font-size: .9rem;
    color: var(--background-color);
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}
  
input[type=text],
input[type=tel],
input[type=date],
input[type=email], textarea,
select {
    display: block;
    margin: .1rem 0 1rem 0 ;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color:#555;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

.radio{
    width:250px;
}

input[type=radio]{
    transform: scale(1.3);
    margin-right: 10px;
    margin-bottom: 0.5rem;
}

input:required {border-left-color: #d70000;}
input:focus {border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}

button[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--background-color);
    color: var(--accent1-color);
    border-radius: 1rem;
    margin: 2rem 0;
    font-size: 1rem;
    width: 180px;
    
}

button[type=submit]:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

#membership-title{
    text-align: center;
}

.hidden button{
    width: 150px;
    border-radius: 10%;
    font-size: 1rem;
}

.hidden section{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: #cccccc83;
    width: 100%;
    max-width: 400px;
    align-items: center;
}

dialog {
    text-align: left;
    padding-left: 2rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    /* padding: 1rem; */
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 80%;
    max-width: 500px;
}

::backdrop{
    background-color: rgb(0 0 0 /0.5);
}

dialog button{
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 0.25rem 1rem;
    max-width: 40px;
}



/* ANIMATION WHEN SCROLLING */
.hidden{
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
    justify-items: center;
}

.show{
    opacity: 1;
    transform: translateX(0);
}


/* THANK YOU PAGE STYLING */
#results {
    padding: 0 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    width: 70%;
    margin-bottom: 2rem;
    max-width: 500px;
  }

#thankyou-page{
    justify-items: center;
}

/* DISCOVER PAGE MAIN CONTENT */

.places-photos{
    width: 90%;
    justify-self: center;
    min-height: 3700px;
}

.places-photos section{
    border: 1px solid #ccc;
    border-radius: 2%;
    margin-bottom: 1rem;
    background-color: #ffe2bc36;
    justify-items: center;

    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "location"
    "button"
    ;
}

.places-photos section h2{
    grid-area: name;
}

.places-photos section img{
    grid-area: photo;
}

.places-photos section p{
    grid-area: description;
}

.places-photos section address{
    grid-area: location;
    margin-bottom: 0.5rem;
}

.places-photos section button{
    border-radius: 10%;
    width: 150px;
    grid-area: button;
}

#visit-section{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--accent3-color);
    color: var(--background-color);
    width: 80%;
    max-width: 50rem;
    padding: 1rem;
    font-size: larger;
    justify-self: center;
    font-weight: bold;
    text-align: center;
}
